body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: #333;
}

.card {
    width: 150px;
    height: 150px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table {
    margin: auto;
    width: 80%;
}

button {
    margin: 5px;
}